/* roboto-100italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/roboto-v30-latin-100italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-100italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin-100italic.woff") format("woff"), url("../fonts/roboto-v30-latin-100italic.ttf") format("truetype"), url("../fonts/roboto-v30-latin-100italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff"), url("../fonts/roboto-v30-latin-300.ttf") format("truetype"), url("../fonts/roboto-v30-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* forum-regular - latin */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/forum-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/forum-v16-latin-regular.woff2") format("woff2"), url("../fonts/forum-v16-latin-regular.woff") format("woff"), url("../fonts/forum-v16-latin-regular.ttf") format("truetype"), url("../fonts/forum-v16-latin-regular.svg#Forum") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Forum", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.site-header {
  background-color: #030303;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner {
  padding: 59px 0;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  list-style-type: none;
}

.nav__item + .nav__item {
  margin-left: 55px;
}

.nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  opacity: 0.6;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.nav__link:hover {
  color: #9d8665;
}

.header__button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 1180px) {
  .header__inner {
    padding: 50px 0;
  }
  .header__button {
    display: block;
  }
  .nav__list {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .header__inner {
    padding: 35px 0;
  }
}
.site-main {
  background-color: #030303;
}

.main__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__inner {
  padding: 150px 0 270px;
  z-index: 1000;
}

.hero__img {
  position: absolute;
  right: 20px;
  width: 850px;
  height: 700px;
}

.hero__title {
  margin: 0;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 75px;
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 360px;
  height: 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background: #710707;
  border-radius: 10px;
  transition: 0.4s;
}

.hero__link:hover {
  background-color: #9d8665;
}

@media only screen and (max-width: 1180px) {
  .hero__inner {
    padding: 50px 0 192px;
  }
  .hero__img {
    width: 700px;
    height: 525px;
  }
  .hero__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .hero__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
}
@media only screen and (max-width: 1000px) {
  .hero__inner {
    padding: 10px 0 90px;
  }
  .hero__img {
    top: 0;
    width: 550px;
    height: 400px;
  }
  .hero__link {
    padding: 40px 15px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 870px) {
  .hero__link {
    width: 250px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .hero__inner {
    padding: 0 0 690px;
  }
  .main__container {
    flex-direction: column;
    text-align: center;
  }
  .hero__link {
    display: none;
  }
  .hero__img {
    position: absolute;
    top: 300px;
    width: 728px;
    height: 546px;
  }
}
@media only screen and (max-width: 750px) {
  .hero__inner {
    padding: 0 0 415px;
  }
  .hero__img {
    position: absolute;
    left: auto;
    right: auto;
    width: 550px;
    height: 390px;
  }
}
@media only screen and (max-width: 570px) {
  .hero__img {
    position: absolute;
    left: auto;
    right: auto;
    width: 380px;
    height: 285px;
  }
}
@media only screen and (max-width: 437px) {
  .hero__inner {
    padding: 0 0 250px;
  }
  .hero__title {
    font-size: 28px;
    line-height: 40px;
  }
  .hero__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .hero__img {
    position: absolute;
    top: 140px;
  }
}
@media only screen and (max-width: 397px) {
  .hero__img {
    top: 150px;
    width: 280px;
    height: 185px;
  }
}
.tour {
  background-color: #dbdbdb;
}

.tour__content {
  padding: 75px 0 75px 0;
}

.tour__heading {
  margin: 0;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.tour__line {
  margin-top: 25px;
  margin-bottom: 75px;
  display: block;
  width: 100%;
  height: 3px;
  background: #710707;
  border-radius: 0px;
}

.tour__list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.tour__item {
  margin-bottom: 75px;
}

.tour__link {
  text-decoration: none;
}

.tour__img {
  margin-bottom: 25px;
}

.tour__link-title {
  margin: 0;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.tour__link-line {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 2px;
  background: #710707;
  border-radius: 0px;
}

.tour__link-text {
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

@media only screen and (max-width: 1100px) {
  .tour__heading {
    font-weight: 400;
    font-size: 45px;
    line-height: 75px;
  }
  .tour__link-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 3px;
  }
  .tour__link-text {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
  }
}
@media only screen and (max-width: 840px) {
  .tour__heading {
    font-size: 40px;
  }
  .tour__list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tour__link-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3px;
  }
  .tour__link-text {
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
  }
}
@media only screen and (max-width: 555px) {
  .tour__heading {
    font-size: 28px;
  }
  .tour__img {
    width: 280px;
  }
}
.explore__content {
  padding: 75px 0 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.explore__inner {
  width: 600px;
}

.explore__title {
  margin: 0;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.explore__line {
  margin: 25px 0 75px 0;
  display: block;
  width: 550px;
  height: 3px;
  background: #710707;
  border-radius: 0px;
}

.explore__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
}

.explore__color {
  color: rgb(202, 170, 125);
}

@media only screen and (max-width: 1200px) {
  .explore__content {
    flex-direction: column;
  }
  .explore__inner {
    width: 100%;
  }
  .explore__line {
    width: 100%;
  }
  .explore__image-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .explore__img {
    width: 720px;
    height: 700px;
  }
}
@media only screen and (max-width: 840px) {
  .explore__text {
    display: none;
  }
  .explore__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
  }
  .explore__img {
    width: 728px;
    height: 705px;
  }
}
@media only screen and (max-width: 750px) {
  .explore__content {
    padding: 40px 0;
  }
  .explore__line {
    margin: 20px 0 10px 0;
  }
  .explore__img {
    width: 520px;
    height: 500px;
  }
}
@media only screen and (max-width: 555px) {
  .explore__title {
    font-size: 28px;
  }
  .explore__img {
    width: 380px;
    height: 368px;
  }
}
@media only screen and (max-width: 405px) {
  .explore__img {
    width: 340px;
    height: 328px;
  }
}
.journey {
  background-color: #dbdbdb;
}

.journey__content {
  padding: 75px 0 127px 0;
}

.journey__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.journey__title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.journey__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
}

.video__museum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video__louvre {
  margin-top: 75px;
  margin-bottom: 40px;
}

.video__museum-play + .video__museum-play {
  margin-left: 42px;
}

.video__list {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.video__item + .video__item {
  margin-left: 20px;
}

@media only screen and (max-width: 1185px) {
  .journey__text {
    display: none;
  }
  .video__louvre {
    width: 100%;
    height: 550px;
  }
}
@media only screen and (max-width: 1020px) {
  .video__museum-play {
    width: 280px;
    height: 170px;
  }
  .video__museum-play + .video__museum-play {
    margin-left: 22px;
  }
}
@media only screen and (max-width: 920px) {
  .journey__content {
    padding: 40px 0 100px 0;
  }
  .video__museum-play + .video__museum-play {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 920px) {
  .video__louvre {
    height: 300px;
  }
  .play {
    display: none;
  }
  .video__museum-play {
    width: 354px;
    height: 199px;
  }
}
@media only screen and (max-width: 650px) {
  .video__louvre {
    max-width: 100%;
    height: 300px;
  }
  .journey__title {
    font-size: 40px;
    line-height: 60px;
  }
  .video__louvre {
    width: 580px;
    height: 200px;
  }
  .video__museum-play {
    width: 250px;
    height: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .video__museum-play {
    width: 180px;
    height: 101px;
  }
}
@media only screen and (max-width: 405px) {
  .video__museum-play {
    width: 150px;
    height: 101px;
  }
}
.gallery__title {
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.gallery__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.gallery__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 80%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 100;
}

.gallery__img {
  margin: 0 5px 5px 5px;
}

.gallery__first-column {
  margin-top: 50px;
}

.gallery__third-column {
  margin-top: 50px;
}

@media only screen and (max-width: 1250px) {
  .gallery__img {
    max-width: 380px;
  }
}
@media only screen and (max-width: 1190px) {
  .gallery__img {
    width: 304px;
  }
  .height {
    height: 380px;
  }
  .img-height {
    height: 304px;
  }
}
@media only screen and (max-width: 970px) {
  .gallery__second-column {
    display: none;
  }
  .gallery__title {
    font-size: 60px;
  }
  .gallery__img {
    width: 352px;
  }
  .height {
    height: 440px;
  }
  .img-height {
    height: 351px;
  }
}
@media only screen and (max-width: 750px) {
  .gallery__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gallery__title {
    margin-top: 50px;
    font-size: 50px;
  }
  .gallery__img {
    width: 178px;
  }
  .none {
    display: none;
  }
  .height {
    height: 223px;
  }
  .img-height {
    height: 178px;
  }
}
.tickets {
  background-color: #dbdbdb;
}

.tickets__content {
  padding: 75px 0 75px 0;
}

.tickets__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tickets__title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.tickets__line {
  margin-top: 25px;
  margin-bottom: 75px;
  display: block;
  width: 100%;
  height: 3px;
  background: #710707;
  border-radius: 0px;
}

.tickets__choice {
  display: flex;
  align-items: flex-start;
}

.tickets__fieldset {
  margin-left: 60px;
  border: none;
}

.tickets__legend {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.tickets__input {
  margin-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.amount__title {
  margin-bottom: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.amount__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.amount__button {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.button {
  margin-bottom: 50px;
}

.amount__strong {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #000000;
}

.amount__buy {
  margin-top: 60px;
  padding: 10px 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  background: #000000;
  color: #ffffff;
  border-radius: 2px;
  transition: 0.4s;
}

.amount__buy:hover {
  color: #000000;
  background-color: #9d8665;
}

@media only screen and (max-width: 1180px) {
  .tickets__fieldset {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .tickets__image {
    width: 700px;
    height: 440px;
  }
  .tickets__title {
    font-size: 65px;
    line-height: 75px;
  }
}
@media only screen and (max-width: 960px) {
  .tickets__image {
    width: 600px;
    height: 400px;
  }
}
@media only screen and (max-width: 860px) {
  .tickets__content {
    padding: 40px 0 40px 0;
  }
  .tickets__image {
    width: 444px;
    height: 340px;
  }
  .tickets__title {
    font-size: 50px;
    line-height: 75px;
  }
  .tickets__line {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 680px) {
  .tickets__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .tickets__image {
    margin-bottom: 40px;
    width: 400px;
    height: 300px;
  }
  .amount__buy {
    margin-top: 30px;
  }
  .button {
    margin-bottom: 10px;
  }
  .amount__title {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 460px) {
  .tickets__image {
    width: 380px;
    height: 160px;
  }
  .amount__title {
    font-size: 16px;
    line-height: 19px;
  }
  .amount__label {
    font-size: 16px;
    line-height: 19px;
  }
  .amount__strong {
    font-size: 16px;
    line-height: 19px;
  }
  .tickets__title {
    font-size: 28px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 415px) {
  .tickets__image {
    width: 340px;
    height: 130px;
  }
}
.image__img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .image__img {
    height: 300px;
  }
}
.contact {
  background-color: #dbdbdb;
}

.contact__content {
  padding: 75px 0 74px 0;
}

.contact__title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}

.contact__line {
  margin-top: 25px;
  margin-bottom: 75px;
  display: block;
  width: 100%;
  height: 3px;
  background: #710707;
  border-radius: 0px;
}

.palais {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.palais__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.palais__text {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

@media only screen and (max-width: 850px) {
  .palais {
    flex-direction: column;
  }
  .palais__map {
    width: 100%;
  }
  .contact__title {
    font-size: 40px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 500px) {
  .contact__title {
    font-size: 28px;
    line-height: 40px;
  }
}
.site-footer {
  background-color: #030303;
}

.footer {
  padding: 86px 0 52px 0;
}

.footer__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__ul {
  display: flex;
  align-items: flex-start;
}

.footer__link {
  margin-right: 145px;
}

.footer__list {
  margin-right: 150px;
}

.footer__item {
  margin-bottom: 25px;
}

.footer__item-link {
  text-decoration: none;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  transition: 0.3s;
}

.footer__item-link:hover {
  color: #9d8665;
}

.footer__prog-link {
  margin-right: 20px;
}

.username__inner {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}

@media only screen and (max-width: 1230px) {
  .footer__content {
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  .footer__item-link {
    font-size: 18px;
    line-height: 21px;
  }
  .footer__list {
    align-items: center;
    text-align: center;
  }
  .footer__inner {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 690px) {
  .username__inner-text {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */