.gallery__title {
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.gallery__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.gallery__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 80%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: 100;
}
.gallery__img {
  margin: 0 5px 5px 5px;
}
.gallery__first-column {
  margin-top: 50px;
}
.gallery__third-column {
  margin-top: 50px;
}
@media only screen and (max-width:1250px){
  .gallery__img {
    max-width: 380px;
  }
}
@media only screen and (max-width:1190px){
  .gallery__img {
    width: 304px;
  }
  .height{
    height: 380px;
  }
  .img-height{
    height: 304px;
  }
}
@media only screen and (max-width:970px){
    .gallery__second-column{
    display: none;
  }
  .gallery__title {
    font-size: 60px;
  }
  .gallery__img {
    width: 352px;
  }
  .height{
    height: 440px;
  }
  .img-height{
    height: 351px;
  }
}
@media only screen and (max-width:750px){
  .gallery__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gallery__title {
    margin-top: 50px;
    font-size: 50px;
  }
  .gallery__img {
    width: 178px;
  }
  .none{
    display: none;
  }
  .height{
    height: 223px;
  }
  .img-height{
    height: 178px;
  }
}

